<ion-header>
  <ion-toolbar>
    <!-- hacemos que aparezca el botón en la parte superior izquierda-->
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <!---->
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aquí insertamos el código de los componentes -->
  <!-- Componenten Card-->
  <ion-card class="css_card">
    <ion-card-header>
      <img src="assets/antonio.jpg">
      <ion-card-subtitle>IES EL RINCÓN</ion-card-subtitle>
      <ion-card-title>Las Palmas de Gran Canaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El instituto de El Rincón está situado detrás del centro Comercial
      Las Arenas, siendo éste un instituto de referencia en tecnologías informáticas
    </ion-card-content>
  </ion-card>
</ion-content>
