<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
     <ion-menu-button menu="menu-content"></ion-menu-button>
   </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Atrás"
        color="primary">
      </ion-back-button>
    </ion-buttons>
 <!-- hacemos que aparezca el botón en la parte superior izquierda-->
    <ion-title>refresher</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="lanzarLoto($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text color="dark">
    <ion-icon name="chevron-down-outline"></ion-icon> ¡Refrescar para lanzar la loto!
  </ion-text>

  <ng-container *ngIf="numeroPremiado">
    <ion-text color="dark">
      <h1>Número premiado: <strong>{{ numeroPremiado }}</strong> </h1>
    </ion-text>
  </ng-container>
</ion-content>
