<ion-app>

  <!-- creamos el menu princial con, escribimos isplit y seleccionamos-->

  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true">
    <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
      <ion-header>
        <ion-toolbar color="success">
          <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!---->
        <!---->
        <ion-menu-toggle>
          <ion-list>
            <!---->
            <ion-item color="tertiary" [routerLink]="'/home'" [routerDirection]="'root'">
              <ion-icon slot="start" name="home-outline" color="success"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <!---->
            <ion-item color="tertiary" [routerLink]="'/datos'" [routerDirection]="'root'">
              <ion-icon slot="start" name="arrow-forward-outline" color="success"></ion-icon>
              <ion-label>Datos</ion-label>
            </ion-item>
            <!---->
            <ion-item color="tertiary" [routerLink]="'/datos-form'" [routerDirection]="'root'">
              <ion-icon slot="start" name="arrow-forward-outline" color="success"></ion-icon>
              <ion-label>Datos Form</ion-label>
            </ion-item>
            <!---->
            <ion-item color="tertiary" [routerLink]="'/lista'" [routerDirection]="'root'">
              <ion-icon slot="start" name="list-outline" color="success"></ion-icon>
              <ion-label>Lista</ion-label>
            </ion-item>
            <!---->
            <ion-item color="tertiary" [routerLink]="'/mapa'" [routerDirection]="'root'">
              <ion-icon slot="start" name="map-outline" color="success"></ion-icon>
              <ion-label>Mapa</ion-label>
            </ion-item>
            <!---->
          </ion-list>
        </ion-menu-toggle>
        <!-- start -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
