<ion-header>
  <ion-toolbar>
 <!-- hacemos que aparezca el botón en la parte superior izquierda-->
 <ion-buttons slot="start">
  <ion-menu-button menu="menu-content"></ion-menu-button>
</ion-buttons>
<!---->
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="tomarFoto()" color="primary">
    <ion-icon slot="start" name="camera"></ion-icon>
    Tomar foto
  </ion-button>

  <ng-container *ngIf="imageUrl">
    <ion-img [src]="imageUrl"></ion-img>
  </ng-container>

</ion-content>
